@import "tailwindcss";
@plugin "daisyui";

/* Itt definiálod a saját egyéni témádat */
@plugin "daisyui/theme" {
  name: "sajatTema";
  default: true;
  --color-primary: #0067b8;
  --color-primary-focus: #07548f;
  --color-base-100: #ffffff;
  --color-base-200: #f7f7f7;
  --color-base-300: #f1f1f1;
  --color-neutral: #383838;
  --color-neutral-content: #ffffff;
  --color-mainred: #dc2626;
}

/* 🟢 Globális input fókusz stílus mindenhol */
input:focus, textarea:focus, select:focus {
  outline: none !important;
  border-color: var(--color-primary) !important;
}

.menu li > a, 
.menu li > a:active, 
.menu li > a:focus, 
.menu li > a.active {
  cursor: pointer !important;
}

.menu li > a:active,
.menu li > a:focus {
  background-color: white !important;
  color: inherit !important;
}

.active {
  background-color: white !important;
  color: var(--color-primary) !important;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.067);
  border-radius: var(--radius-field)
}

.avatarr {
    background-color:var(--color-primary);
    width: 45px;
    height: 45px;
    border-radius: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    border: 1px solid var(--color-base-300);
}

.profilee {
    gap: 10px;
    font-weight: 600;
    font-size: 14px !important;
}

.rang {
    font-weight: 400;
    font-size: 14px !important;
    color: #555555;
}

.hidden {
    display: none !important;
}